<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInput1">Введите значение</label>
            <input  ng-model="$ctrl.firstValue"
                    ng-change="$ctrl.calcCourse1()"
                    type="number"
                    class="form-control"
                    id="exampleInput1"
                    min="0"
            >
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Выберете валюту</label>
            <select ng-model="$ctrl.currency"
                    ng-options="c.Name for c in $ctrl.courses"
                    class="form-control"
                    ng-change="$ctrl.calcCourse1()"
            ></select>
        </div>
        <p>
            Текущий курс: {{$ctrl.currency.Rate}}
        </p>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="exampleInput2">Заначение</label>
            <input ng-model="$ctrl.secondValue"
                   ng-change="$ctrl.calcCourse2()"
                   type="number"
                   class="form-control"
                   id="exampleInput2"
                   min="0"
            >
        </div>
    </div>
</div>



